.topbarContainer {
  background-color: rgb(72, 102, 158);
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.topbarLeft {
  flex: 3;
}

.logo {
  font-size: 24px;
  color: aliceblue;
  font-weight: bold;
  margin-left: 20px;
  text-shadow: 2px 2px rgb(61, 61, 61);
}

.topbarCenter {
  flex: 5;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.iconItems {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.iconItem {
  cursor: pointer;
  margin: 0 20px;
}

i {
  font-size: 30px;
  padding: 0;
}

.userIconImg {
  border-radius: 50px;
}
